.App {
  text-align: center;
  background-color: #1aa15e;
}



.App-header {
  min-height: 100vh;
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.AddForm {
  color: white !important;
}

